
#about {
    text-align: center;
    margin-top: 15rem;
    margin-bottom: 15rem;
    margin-right: 15%;
    margin-left: 15%;

}

#about h1 {
    font-size: 3rem;
    padding-top: 3rem;
}

#about p {
    font-size: 1.5rem;
    margin-bottom: 4rem;
}

#contact {
    display: flex;
    justify-content: center;
    gap: 5rem;
    animation: below 1.5s ease-in-out alternate infinite;
    background: linear-gradient(to bottom, #000000 0%, #003029 70%, #027f6c 100%);
}

@keyframes below {
    0% {
		opacity: 0.5;
	}
	100% {
        opacity: 1;
	}
}

#contact h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1280px) {
    #about h1 {
        font-size: 2rem;
    }
    
    #about p {
        font-size: 1rem;
    }

    #about {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    #contact {
    }
  }