#education {
    margin-right: 5%;
    margin-left: 5%;
    display: block;
    height: 100vh;
}

#education h2{
    text-align: center;
    padding-top: 7.5rem;
    font-size: 3rem;
}

#education ul {
    margin-left: 10%;
    margin-right: 10%;
}

#education ul li {
    margin-bottom: 3rem;
}

#education h3 {
    font-size: 1.5rem;
}


#check {
    display: none;
  }

.checkbox-container .checkbtn {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-right: 10%;
}
#no-horsing-around {
    display: none;;
}


#check:checked ~ #no-horsing-around {
    display: block;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


#check:checked ~ #lol {
    display: none;
}

#lol {
    display: block;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forward
    
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
		transform: translateY(2rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@media screen and (max-width: 1280px) {
    #education {
        height: auto;
        margin-right: 2.5%;
        margin-left: 2.5%;
    }

    .checkbtn a{
        max-width: 10rem;
        font-size: .75rem;
    }

    #education h3 {
        font-size: 1rem;
    }

    #education h2{
        font-size: 1.75rem;
    }

    #education ul {
        margin-left: 5%;
        margin-right: 5%;
    }
  }