#education h2{
    text-align: center;
    margin-top: 4rem;
    font-size: 3rem;
}

#education ul {
    margin-left: 10%;
    margin-right: 10%;
}

#education ul li {
    margin-bottom: 3rem;
}

#education h3 {
    font-size: 1.5rem;
}

#education .hehe {
    display: flex;
    justify-content: flex-end;
    margin-left: 10%;
    margin-right: 10%;
}

#lol, #no-horsing-around {
    display: none;
}

#lol:target, #no-horsing-around:target {
    display: block;
    animation: fadeInAnimation ease 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}


@keyframes fadeInAnimation {
	0% {
		opacity: 0;
		transform: translateY(2rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}