#myPhotoWrap {
    width: 300px;
    height: 300px;
    object-fit: contain;
}

#myPhotoWrap {
    width: 300px;
    height: 300px;
    object-fit: contain;
}

#hiddenPhotoWrap {
    width: 300px;
    height: 300px;
    margin-top: 10rem;
    object-fit: contain;
    display: none;
}

.myPhoto {
    display: block;
    min-width: 10rem;
    width: 100%;
    height: auto;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 5%;
    margin-left: 5%; */
    height: 100vh;
}

#introPageText {
    text-align: left;
    margin-right: 5%;
}

#introPageText h1 {
    font-weight: bold;
    font-size: 4rem;
}

#intro h2 {
    font-size: 2.25rem;
}

#intro {
    background: linear-gradient(to bottom, #4f5452 0%,#4f5452 47%,#000000 100%);
}


@media screen and (max-width: 1280px) {
    #intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    #introPageText {
        text-align: center;
        margin-right: 0;
    }

    #myPhotoWrap {
        display: none;
    }
    
    #hiddenPhotoWrap {
        display: block;
    }

    #introPageText h1 {
        font-weight: bold;
        font-size: 2rem;
    }
    
    #intro h2 {
        font-size: 1.125rem;
    }

}