#projects {
    margin-right: 5%;
    margin-left: 5%;
    height: 100vh;
    display: block;
}


#projects h1 {
    font-size: 3rem;
    padding-top: 5rem;
    text-align: center;
}

#projects ul {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

#projects li h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100px;
}

#projects li img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#projects li {
    display: flex;
    flex-direction: column;
    width: 17.5rem;
    list-style: none;
    background-color: #111111;
    padding: 1.5rem;
    border-radius: 2rem;
    animation: glowingFade 1s ease-in-out alternate infinite;
}

#projects li a {
    display: flex;
    align-self: flex-end;
    margin-top: auto;
}

#projects .projectImage {
    height: 15rem;
    width: auto;
}


#projects li:hover {
    animation: glowingFade2 .75s ease-in-out alternate infinite;
}

@keyframes glowingFade {
    0% {
		box-shadow: 0 0 10px 1px #336B55;
	}
	100% {
		box-shadow: 0 0 30px 3px #336B55;
	}
}

@keyframes glowingFade2 {
    0% {
		box-shadow: 0 0 20px 2px #05ffc3
	}
	100% {
		box-shadow: 0 0 45px 6px #05ffc3;
	}
}


@media screen and (max-width: 1280px) {
    #projects {
        height: auto;
    }

    #projects ul {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        align-items: center;
        margin-left: 2.5%;
        margin-right: 2.5%;
        padding-left: 0;
    }

    #projects li {
        width: 80%;
    }

    #projects .projectImage {
        height: auto;
        width: 50vw;
        margin-bottom: 1rem;
    }

    #projects h1 {
        font-size: 1.5rem;
    }
  }